﻿

<!DOCTYPE html>
<html>
<head>
    <title>Eaciit - Test</title>
    <link rel="shortcut icon" href="../../Content/assets/images/favicon.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- Load the site CSS after Boostrap's to override -->
    @Styles.Render("~/bundles/css")
    @Styles.Render("~/bundles/jqueryui/autocomplete/css")
    <!-- Load Modernizr.js -->
    @Scripts.Render("~/bundles/modernizrmin")
    <link rel="stylesheet" href="~/Content/css/highcharts.css" media="screen">
    <link href="~/Content/css/loading.css" rel="stylesheet" />
    <style>
        .custom-modal {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba( 255, 255, 255, .8 ) url('../../Content/loader.gif') 50% 50% no-repeat;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <!-- Load Bootstrap JavaScript -->
    @Scripts.Render("~/bundles/bootstrap")
    <!-- Load Fixed Header table JavaScript -->
    @Scripts.Render("~/bundles/fixedheadertable")
    @Scripts.Render("~/bundles/customjs")
    @Scripts.Render("~/bundles/validate")
    @Scripts.Render("~/bundles/datatables")
    <script src="~/Scripts/highcharts.js"></script>
    @*<script src="~/Scripts/highcharts.src.js"></script>*@
    <script src="~/Scripts/highcharts-more.js"></script>
    @*<script src="~/Scripts/highcharts-more.src.js"></script>*@
    <script src="~/Scripts/js/vendors/bootstrap-select.min.js"></script>
</head>
<body>

    <header class="navbar navbar-default" role="navigation">
        <div class="navbar-header" style="background: none">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="padding: 0">
                <img src="~/Content/assets/images/logo.jpg" alt="">
                <img class="logo-small" src="~/Content/assets/images/logo.jpg" alt="">
            </a>
        </div>
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="user-container">
                    <a href="#" class="user">
                        Welcome, <strong>@User.Identity.Name</strong> 
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="excise-site">
        
        <div class="content" style="padding-left: 0">
            @RenderBody()
        </div>
        <div class="custom-modal" id="customloader">
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                </div>
            </div>
        </div>
    </footer>
    <!-- Load jQuery -->
    


    @RenderSection("styles", required: false)

    <script type="text/javascript">
        $('.toggle-row').click(function () {

            var filter = $(".filters");
            filter.slideToggle(100).promise().done(function () {

            });
        });

        $(document).ready(function () {
            $(".selectpicker.form-control").attr('data-live-search', true);

            if ($('#changesHistoryTable') != null) {
                $('#changesHistoryTable .filters th').each(function () {
                    var idx = $(this).index();
                    var title = $('#changesHistoryTable thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" >');


                });
                var tableHistory = $('#changesHistoryTable').DataTable({
                    "order": [[0, "asc"]]
                });
                // Setup - add a text input to each footer cell
                if (tableHistory.columns().eq(0) != null) {
                    tableHistory.columns().eq(0).each(function (colIdx) {
                        $('input', $('#changesHistoryTable .filters th')[colIdx]).on('keyup change', function () {
                            tableHistory
								.column(colIdx)
								.search(this.value)
								.draw();
                        });
                    });
                }

            }

            if ($("#workflowHistoryTable1") != null) {
                $('#workflowHistoryTable1 .filters th').each(function () {
                    var idx = $(this).index();
                    var title = $('#workflowHistoryTable1 thead th').eq($(this).index()).text();
                    $(this).html('<input type="text" placeholder="Search" style="width:100%" >');


                });
                var tableWorkflowHistory = $('#workflowHistoryTable1').DataTable({
                    "order": [[0, "asc"]]
                });
                // Setup - add a text input to each footer cell
                if (tableWorkflowHistory.columns().eq(0) != null) {
                    //tableWorkflowHistory.columns().eq(0).each(function (colIdx) {
                    //	$('input', $('#workflowHistoryTable1 .filters th')[colIdx]).on('keyup change', function () {
                    //		tableWorkflowHistory
                    //			.column(colIdx)
                    //			.search(this.value)
                    //			.draw();
                    //	});
                    //});
                }
            }

        });

    </script>

    @RenderSection("scripts", required: false)

    

</body>
</html>
