﻿.loading {
    background: #eef6f9 url('../assets/images/loading.gif') no-repeat center;
    /*background-position: center;*/
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    /**/
    /*background: url('../assets/img/ajax-loader.gif') center no-repeat;*/
}

        /* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
        body.loading {
            overflow: hidden;
        }

            /* Anytime the body has the loading class, our
   modal element will be visible */
            body.loading .modal-loading{
                display: block;
   }
