﻿@model WiyasaTest.Models.CompanyViewModel
<input type="hidden" id="returnTotalData" value="@Model.TotalData" />
<input type="hidden" id="returnTotalPerPage" value="@Model.TotalDataPerPage" />
<input type="hidden" id="returnCurrentPage" value="@Model.CurrentPage" />
<table id="mydata" class="table cell-border display no-wrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>CMGUnmaskedId</th>
            <th>CMGUnmaskedName</th>

            <th>ClientTier</th>
            <th>GCPStream</th>
            <th>GCPBusiness</th>
            <th>CMGGlobalBU</th>
            <th>CMGSegmentName</th>
            <th>GlobalControlPoint</th>
            <th>GCPGeography</th>
            <th>GlobalRelationshipManagerName</th>
            <th>REVENUE_FY14</th>
            <th>REVENYE_FY15X</th>
            <th>Deposits_EOP_FY14</th>
            <th>Deposits_EOP_FY15x</th>
            <th>TotalLimits_EOP_FY14</th>
            <th>TotalLimits_EOP_FY15YTD</th>
            <th>TotalLimits_EOP_FY15x</th>
            <th>RWAFY15</th>
            <th>RWA_FY14</th>
            <th>REV_RWA_FY14</th>
            <th>REV_RWA_FY15</th>
            <th>NPAT_AllocEq_FY14</th>
            <th>NPAT_AllocEq_FY15X</th>
            <th>RegulatoryCapital_AVG_FY15</th>
            <th>RegulatoryCapital_AVG_FY14</th>
            <th>ROE_FY14</th>
            <th>ROE_FY15</th>
        </tr>

    </thead>
    

    <tbody>

        @foreach (var item in Model.Details)
        {
            <tr>
                <td >
                    <a href="#" onclick="ShowCompanyDetail('@item.CMGUnmaskedID')" data-toggle="tooltip" data-placement="top" title="Detail">@item.CMGUnmaskedID</a>
                    
                </td>
                <td>
                    @item.CMGUnmaskedName
                </td>
                <td>
                    @item.ClientTier
                </td>
                <td>
                    @item.GCPStream
                </td>
                <td>
                    @item.GCPBusiness
                </td>
                <td>
                    @item.CMGGlobalBU
                </td>
                <td>
                    @item.CMGSegmentName
                </td>
                <td>
                    @item.GlobalControlPoint
                </td>
                <td>
                    @item.GCPGeography
                </td>
                <td>
                    @item.GlobalRelationshipManagerName
                </td>
                <td>@item.REVENUE_FY14</td>
                <td>@item.REVENYE_FY15X</td>
                <td>@item.Deposits_EOP_FY14</td>
                <td>@item.Deposits_EOP_FY15x</td>
                <td>@item.TotalLimits_EOP_FY14</td>
                <td>@item.TotalLimits_EOP_FY15YTD</td>
                <td>@item.TotalLimits_EOP_FY15x</td>
                <td>@item.RWAFY15</td>
                <td>@item.RWA_FY14</td>
                <td>@item.REV_RWA_FY14</td>
                <td>@item.REV_RWA_FY15</td>
                <td>@item.NPAT_AllocEq_FY14</td>
                <td>@item.NPAT_AllocEq_FY15X</td>
                <td>@item.RegulatoryCapital_AVG_FY15</td>
                <td>@item.RegulatoryCapital_AVG_FY14</td>
                <td>@item.ROE_FY14</td>
                <td>@item.ROE_FY15</td>
            </tr>
        }
    </tbody>
</table>

