﻿@model WiyasaTest.Models.CompanyViewModel
@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    $(document).ready(function () {
        setupDataTables();

        if ('@Model.Error' != '') {
            alert('@Model.Error');
        }
    });


    function setupColumns() {

        var columns = [


            { "data": "CMGUnmaskedID", "orderable": false },
            { "data": "CMGUnmaskedName", "orderable": false },
            { "data": "ClientTier", "orderable": false },
            { "data": "GCPStream", "orderable": false },
            { "data": "GCPBusiness", "orderable": false },
            { "data": "CMGGlobalBU", "orderable": false },
            { "data": "CMGSegmentName", "orderable": false },
            { "data": "GlobalControlPoint", "orderable": false },
            { "data": "GCPGeography", "orderable": false },
            { "data": "GlobalRelationshipManagerName", "orderable": false },

            { "data": "REVENUE_FY14", "orderable": false },
            { "data": "REVENYE_FY15X", "orderable": false },
            { "data": "Deposits_EOP_FY14", "orderable": false },
            { "data": "Deposits_EOP_FY15x", "orderable": false },
            { "data": "TotalLimits_EOP_FY14", "orderable": false },
            { "data": "TotalLimits_EOP_FY15YTD", "orderable": false },
            { "data": "TotalLimits_EOP_FY15x", "orderable": false },
            { "data": "RWAFY15", "orderable": false },
            { "data": "RWA_FY14", "orderable": false },
            { "data": "REV_RWA_FY14", "orderable": false },
            { "data": "REV_RWA_FY15", "orderable": false },
            { "data": "NPAT_AllocEq_FY14", "orderable": false },
            { "data": "NPAT_AllocEq_FY15X", "orderable": false },
            { "data": "RegulatoryCapital_AVG_FY15", "orderable": false },
            { "data": "RegulatoryCapital_AVG_FY14", "orderable": false },
            { "data": "ROE_FY14", "orderable": false },
            { "data": "ROE_FY15", "orderable": false }

        ];

        return columns;


    }

    function ReloadDataTables() {
        $('.toggle-row').click(function () {

            var filter = $(".filters");
            filter.slideToggle(100).promise().done(function () {

            });
        });

        setupDataTables();
        $('.loading').hide();
    }

    function ReloadDataTables1() {
        setupDataTables(false);
        setpaginglink();
        $('#SearchView_Month').removeClass('input-validation-error');
        $('#SearchView_Year').removeClass('input-validation-error');
    }

    function setpaginglink() {

    }

    function OnFilter() {
        var table = $('#mydata').DataTable();

        table.ajax.reload();
    }

    function setupDataTables(blFirst) {

        // DataTable

        var table = null;
        if ($.fn.dataTable.isDataTable('#mydata')) {
            table = $('#mydata').DataTable();
            table.destroy();
        }

        table = $('#mydata').DataTable(
            {
                "sDom": "Rlfrtip",
                "sPaginationType": "full_numbers",
                "language": {
                    "zeroRecords": "No records found",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },

                "rowCallback": function(row, data, index) {

                    var actionHtml = "<a href='#chart1' data-toggle='tooltip' data-placement='top' title='Detail' onclick='SetupData(\"" + data.CMGUnmaskedID + "\")'>" +
                        data.CMGUnmaskedID +
                        "</a>";



                    var actionRow = $(row).find("td")[0];
                    $(actionRow).addClass('action');
                    $(actionRow).html(actionHtml);

                },
                "serverSide": true,
                //"processing": true,
                "paging": true,
                "deferRender": true,
                "columns": setupColumns(),

                "ajax": {
                    "url": "@Url.Action("SearchCompanyAjax", "Home")",
                    "type": "POST",

                    "data": function (d) {
                        return $.extend({}, d, {
                            "ExtraFilter": {
                                "Filter": {

                                    "CMGUnmaskedName": $("#Filter_CMGUnmaskedName").val(),
                                    "ClientTier": $("#Filter_ClientTier").val(),
                                    "CMGSegmentName": $("#Filter_CMGSegmentName").val(),
                                    "GlobalControlPoint": $("#Filter_GlobalControlPoint").val(),
                                    "Revenue": $("#Filter_Revenue").val(),
                                    "Deposits": $("#Filter_Deposits").val(),
                                    "Roe": $("#Filter_Roe").val()



                                }
                            }
                        });
                    }
                }
            });
        table.on('preXhr', function (e, settings, data) {
            $(".loading").show();
        });

        table.on('xhr', function (e, settings, data) {
            $(".loading").hide();
        });
    }

    function SetEditMode(res) {
        $("#ItemEdit_CMGUnmaskedID").val(res.CMGUnmaskedID);
        $("#ItemEdit_CMGUnmaskedName").val(res.CMGUnmaskedName);
        $("#ItemEdit_ClientTier").val(res.ClientTier);
        $("#ItemEdit_GCPStream").val(res.GCPStream);
        $("#ItemEdit_GCPBusiness").val(res.GCPBusiness);
        $("#ItemEdit_CMGGlobalBU").val(res.CMGGlobalBU);
        $("#ItemEdit_CMGSegmentName").val(res.CMGSegmentName);
        $("#ItemEdit_GlobalControlPoint").val(res.GlobalControlPoint);
        $("#ItemEdit_GCPGeography").val(res.GCPGeography);
        $("#ItemEdit_GlobalRelationshipManagerName").val(res.GlobalRelationshipManagerName);

        $("#ItemEdit_REVENUE_FY14").val(res.REVENUE_FY14);
        $("#ItemEdit_REVENYE_FY15X").val(res.REVENYE_FY15X);
        $("#ItemEdit_RWA_FY14").val(res.RWA_FY14);
        $("#ItemEdit_RWAFY15").val(res.RWAFY15);
        $("#ItemEdit_ROE_FY14").val(res.ROE_FY14);
        $("#ItemEdit_ROE_FY15").val(res.ROE_FY15);
        $("#ItemEdit_TotalLimits_EOP_FY14").val(res.TotalLimits_EOP_FY14);
        $("#ItemEdit_TotalLimits_EOP_FY15YTD").val(res.TotalLimits_EOP_FY15YTD);

    }

    function SetupData(unmaskId) {
        $(".loading").show();
        $(".itemedit").val("");
        $.ajax({
            url: '@Url.Action("GetCompanyById","Home")',
            type: "POST",
            data: {
                id: unmaskId
            },
            complete: function () {
                $(".loading").hide();
            },
            success: function (response) {
                if (response != null) {
                    SetEditMode(response);


                    var dataChart1 = [{
                        name: 'Y14',
                        y: response.ROE_FY14
                    }, {
                        name: 'Y15',
                        y: response.ROE_FY15
                    }];
                    SetChart1(dataChart1);



                    var dataChart2 = [response.RWA_FY14, response.REVENUE_FY14, response.RWAFY15, response.REVENYE_FY15X];
                    SetChart2(dataChart2);

                    var dataChart3 = [response.TotalLimits_EOP_FY14, response.TotalLimits_EOP_FY15YTD];

                    SetChart3(dataChart3);

                    var dataChart4 = [{
                        name: 'FY14',
                        data: [response.RegulatoryCapital_AVG_FY14, response.NPAT_AllocEq_FY14, response.TotalLimits_EOP_FY14, response.Deposits_EOP_FY14]
                    }, {
                        name: 'FY15',
                        data: [response.RegulatoryCapital_AVG_FY15, response.NPAT_AllocEq_FY15X, response.TotalLimits_EOP_FY15YTD, response.Deposits_EOP_FY15x]
                    }];

                    SetChart4(dataChart4);
                }

            }
        });
    }

    function SetChart4(generalActivityChart) {
        Highcharts.chart('chart4', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Company Average Activity FY14 vs FY15'
            },
            xAxis: {
                categories: ['Avg Regulatory Capital', 'NPAT Allocation', 'Total Limits EOP', 'Deposits EOP'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Amount',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },

            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -40,
                y: 80,
                floating: true,
                borderWidth: 1,
                backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: generalActivityChart
            //    [{
            //    name: 'FY14',
            //    data: [107, 31, 635, 203, 2]
            //}, {
            //    name: 'FY15',
            //    data: [133, 156, 947, 408, 6]
            //}]
        });
    }

    function SetChart3(chartTotalLimitEop) {
        Highcharts.chart('chart3', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Total Limit EOP FY14 vs FY15'
            },

            xAxis: {
                categories: ['TotalLimits EOP FY14', 'TotalLimits EOP FY15 YTD']
            },

            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },

                }
            },

            series: [{

                data: chartTotalLimitEop
            }],

            //responsive: {
            //    rules: [{
            //        condition: {
            //            maxWidth: 500
            //        },
            //        chartOptions: {
            //            legend: {
            //                layout: 'horizontal',
            //                align: 'center',
            //                verticalAlign: 'bottom'
            //            }
            //        }
            //    }]
            //}

        });
    }

    function SetChart2(chartDataRevenue) {
        Highcharts.chart('chart2', {
            chart: {
                type: 'column',

            },
            title: {
                text: 'Revenue & RWA FY14 vs FY15',
                style: {
                    fontSize: "16px"
                }
            },
            //subtitle: {
            //    text: subTitle
            //},
            xAxis: {
                categories: ['RWA FY14', 'Revenue FY14', 'RWA FY15', 'Revenue FY15x'],
                crosshair: true
            },
            exporting: { enabled: false },
            //legend: {
            //    align: 'right',
            //    verticalAlign: 'top',
            //    layout: 'vertical',
            //    x: 0,
            //    y: 100
            //},
            yAxis: {
                min: 0,
                title: {
                    text: 'Revenue & RWA'
                },
                plotLines: [{
                    value: $("#Reference").val(),
                    color: '#ff0000',
                    width: 2,
                    zIndex: 4,
                    label: { text: '' }
                }]

            },

            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                },
                bar: {
                    borderWidth: 10
                }
            },
            series: [{

                data: chartDataRevenue,
                marker: {
                    symbol: 'square'
                },
                showInLegend: false
            }

            ]
        }
            );
    }

    function SetChart1(dataChart) {
        Highcharts.chart('chart1', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            title: {
                text: 'Revenue Y14 vs Y15'
            },
            //legend: {

            //    floating: false,
            //    align: 'center',
            //    x: 10, // = marginLeft - default spacingLeft

            //    borderWidth: 0
            //},
            //subtitle: {
            //    text: 'Source: WorldClimate.com'
            //},


            //tooltip: {
            //    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            //    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            //        '<td style="padding:0"><b>{point.y:.0f} </b></td></tr>',
            //    footerFormat: '</table>',
            //    shared: true,
            //    useHTML: true
            //},

            series: [{
                name: 'Revenue',
                colorByPoint: true,
                data: dataChart
            }]
        });
    }
</script>

<div class="container-wrap">
    <div class="row">
        <div class="col-md-12">

            
            <div class="white-wrapper">
                
                <div class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Company Name</label>
                                <div class="col-md-8">

                                    @Html.TextBoxFor(model => model.Filter.CMGUnmaskedName,  new { @class = "form-control selectpicker" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Client Tier</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.ClientTier, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Segment Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.CMGSegmentName, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Global Control Point</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.GlobalControlPoint, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Revenue</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.Revenue, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Deposits</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.Deposits, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Roe</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Filter.Roe, new { @class = "form-control" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="col-md-6">
                                <input id="btn-filter" type="button" class="btn btn-blue" value="FILTER" onclick="OnFilter();" />
                            </div>
                            @*<div class="col-md-4">
                <button type="button" id="btn-reset-filter" class="btn btn-blue">RESET</button>
            </div>*@


                        </div>
                    </div>
                    
                    <div class="row">
                       
                        

                    </div>
                </div>

                
                




                @*}*@
            </div>
            <div id="contenttable" class="table-container">
                @Html.Partial("_CompanyList")
            </div>
        </div>
    </div>
</div>

<div class="container-wrap" id="chartSection">
    <div class="row">
        <div class="col-md-3" id="chart1">

        </div>
        <div class="col-md-3" id="chart2">

        </div>
        <div class="col-md-3" id="chart3">

        </div>
        <div class="col-md-3" id="chart4">

        </div>
    </div>
</div>

<div class="container-wrap" id="ItemSection">
    <div class="row">
        <div class="col-md-12">
            @using(Html.BeginForm("SaveItem", "Home", FormMethod.Post, new { @class = "form-excise" })){
                
            <div class="white-wrapper">
                <div class="form-excise" role="form">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">CMGUnmaskedID</label>
                                <div class="col-md-8">

                                    @Html.TextBoxFor(model => model.ItemEdit.CMGUnmaskedID, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Company Name</label>
                                <div class="col-md-8">

                                    @Html.TextBoxFor(model => model.ItemEdit.CMGUnmaskedName, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Client Tier </label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.ClientTier, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">GCP Stream</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.GCPStream, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">GCP Business</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.GCPBusiness, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">CMG Global BU</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.CMGGlobalBU, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">CMG Segment Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.CMGSegmentName, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Global Control Point</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.GlobalControlPoint, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">GCP Geography</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.GCPGeography, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Manager Name</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.GlobalRelationshipManagerName, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">ROE FY 14</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.ROE_FY14, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">ROE FY 15</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.ROE_FY15, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Revenue FY 14</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.REVENUE_FY14, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Revenue FY 15</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.REVENYE_FY15X, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">RWA FY 14</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.RWA_FY14, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">RWA FY 15</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.RWAFY15, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Total Limits EOP FY 14</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.TotalLimits_EOP_FY14, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <label class="col-md-4">Total Limits EOP FY 15</label>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.ItemEdit.TotalLimits_EOP_FY15YTD, new { @class = "form-control itemedit" })

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">

                            <div class="col-md-6">
                                <input id="btn-filter" type="submit" class="btn btn-blue" value="Save"  />
                            </div>
                            @*<div class="col-md-4">
                            <button type="button" id="btn-reset-filter" class="btn btn-blue">RESET</button>
                        </div>*@


                        </div>

                    </div>
                </div>

            </div>
            }
            
        </div>
    </div>
</div>
<div class="loading"></div>
